//modules and variables
@import "modules/_classes"; //pull in useful SASS classes for text-replacements, etc.

#darthphader {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma, Sans-serif;
    font-size: 22px;
    height: 534px;
    position: relative;
    width: 800px;

    > ul {
        height: 534px;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 800px;

        > li {
            background-color: #555;
            bottom: 0;
            color: #fff;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;

            &.ladybird {
                background: url("../img/ladybird.jpg") 0 0 no-repeat;
                background-size: cover;
            }

            &.clover {
                background: url("../img/clover.jpg") 0 0 no-repeat;
                background-size: cover;
            }
        }

        h1 {
            font-size: 42px;
            font-weight: normal;
            margin: 40px 40px 80px;
        }

        p {
            margin: 0 40px;
        }

        img {
            max-width: 100%;
            vertical-align: bottom;
        }
    }

    > nav {
        @include translate(-50%, 0);
        bottom: 40px;
        left: 50%;
        position: absolute;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }
    }
}
